

main {
  width: 60vw;
  margin: auto;
}

#menu {
  display: flex;

}

#menu a {
  margin-right: 0.5vw;
}

#eventlist {
  width: 60vw;
  margin: 3vh auto 0 auto;
}

.eventItem {
  background-color: rgb(218, 139, 120);
  border-radius: 10px;
  margin: 0.5vw;
  padding: 5px;
  display: flex;
  box-shadow: 2px 2px 3px 2px #d7d6d6;
}

.eventDate {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  vertical-align: middle;
}

.eventInfo {
  padding: 10px;
  margin-left: 1vw;
}

.eventInfo h2 {
  margin: 0;
  padding: 0;
}