body {
  background-image: url(../pages/gala/media/smallstage.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  background-image: url(../pages/gala/media/ljuskrona.jpg);
  border-radius: 20%;
  text-align: center;
  padding: 2vw;
  width: fit-content;
}

a>h2 {
  text-align: center;
}

a>h2:hover {
  background-color: aquamarine;
  border-radius: 50%;
}


a {
  align-self: center;
  text-decoration: none;
  color: black;
}

a>p:hover {
  background-color: aquamarine;
  border-radius: 50%;
}



.rutor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-height: 100vw;
}

.club {
  background-color: burlywood;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  box-shadow: none;
}

.clubName {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  vertical-align: middle;
  width: fit-content;
  min-width: 8vw;
}

.clubInfo {
  padding: 10px;
  margin-left: 1vw;
  text-align: center;
}