#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../pages/gala/media/backdrop.jpg);
  background-size: contain;
  opacity: 0.6;
  border-radius: 10px;
  margin-top: 15px;

}



h1 {
  background-image: url(../pages/gala/media/ljuskrona.jpg);
  opacity: 0.6;
  border-radius: 30%;
  width: fit-content;
  text-shadow: 0.5px 0.5px 2.5px white;
  padding: 2vw;
}

.image {
  width: 40%;
}

.image>img {
  width: 100%;
  margin: 2vw;
}