@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400&display=swap');


#site-logo {
  width: 40%;
}

#site-logo>* {
  height: 100%;

}


h1 {
  font-size: 500%;
  font-style: bold;
  font-weight: 700;
  text-align: end;
}

h2 {
  text-align: end;
  font-size: 85%;
  font-style: italic;
  font-weight: 400;
  margin-right: 5vw;
}

.block {
  width: 40%;
}

.NDYdescr {
  font-style: italic;
  font-weight: 300;
}

.NDYmani {
  font-weight: 300;
}

.image {
  width: 40%;
}

.image>img {
  width: 100%;
  margin: 2vw;
}

.eventItem {
  background-image: url("../pages/clubpages/notdeadyet/images/eventbakgrund.jpg");
  background-repeat: none;
  background-size: auto;
  font-family: 'Lato', sans-serif;
}

.eventInfo {
  padding: 10px;
  margin-left: 1vw;
}

.eventInfo h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.eventInfo p {
  border-radius: 3%;
  font-style: italic;
  font-weight: 300;
  text-align: end;
}


#eventlist {
  width: 60vw;
  margin: 3vh auto 0 auto;
}


.eventDate {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  vertical-align: middle;
}


#clubs {
  width: 60vw;
  margin: 3vh auto 0 auto;
}

.club {
  background-color: rgb(218, 139, 120);
  border-radius: 10px;
  margin: 0.5vw;
  padding: 5px;
  display: flex;
  box-shadow: 2px 2px 3px 2px #d7d6d6;

}

.clubName {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  vertical-align: middle;
  width: 8vw;
  min-width: 8vw;
}

.clubInfo {
  padding: 10px;
  margin-left: 1vw;
}