.showEvent {
  display: flex;
  flex-direction: row;
}

.showEvent>* {
  margin: 2vw;
}

h1 {
  font-size: 300%;
  text-align: end;

}

.eventDescr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.eventDetails {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: start;
  justify-content: flex-end;
}

.eventDetails>* {
  margin: 2vw;
}

.closeButton {
  display: inline-block;
  padding: 10px;
  background-color: white;
  text-align: center;
  width: auto;
  cursor: pointer;
}