@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;600&display=swap');

body {
  display: block;
  font-family: 'Onest',
    sans-serif;
    margin: 2vw;
}

#adminBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0.4vw;
  display: flex;
  box-sizing: border-box;
}

#adminBar p {
  margin: 0 1vw 0 0;
  padding: 0;
}

#logInOut {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4vw;
}

header {
  display: flex;
  justify-content: end;
  height: 15vw;
}

#site-logo {
  width: 40%;
  height: 100%;

}

#site-logo>a>img {
  height: 100%;
}


#headerright {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

#menu {
  display: flex;
}

#menu>nav>a {
  font-style: normal;
  text-decoration: none;
  color: black;

}

#klubbknappar {
  align-self: center;
  display: flex;
  justify-content: space-between;
}

#klubbknappar>img {
  margin: 1vw;
  max-height: 5vw;
  border-radius: 50%;
}



#klubbknappar {
  align-self: center;
  display: flex;
  justify-content: space-between;
}

#klubbknappar>img {
  margin: 1vw;
  max-height: 5vw;
  border-radius: 50%;
}

#klubbknappar>a>img {
  margin: 1vw;
  max-height: 5vw;
  border-radius: 50%;
}

main {
  display: flex;
  justify-content: space-around;
  margin: 2vw;
}


#left {
  width: 70%;
  text-align: center;
  text-wrap: wrap;
  padding: 2vw;
}


#right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer>* {
  width: 50%;
}

#some {
  display: flex;
  justify-content: end;
}


#some>* {
  padding: 2vw;
}

#some>a {
  font-style: normal;
  text-decoration: none;
  color: black;

}


#eventlist {
  width: 60vw;
  margin: 3vh auto 0 auto;
}

.eventsWrapper {
  width: 100%;
}

.eventItem {
  display: flex;
  background-color: rgb(218, 139, 120);
  border-radius: 10px;
  width: 100%;
  margin: 0.5vw;
  padding: 15px;
  box-shadow: 2px 2px 3px 2px #d7d6d6;
}

.eventItemLeft {
  width: 20%;
  margin-right: 2vw;
}

.eventItemMiddle {
  width: 60%;
  padding: 1vw;
  margin-right: 2vw;
  margin-top: 1vw;
  background-color: white;
  border-radius: 10px;
}

.eventItemMiddle h2 {
  margin: 0 0 1vw 0;
  padding: 0;
}

.eventItemMiddle p {
  margin: 0;
  padding: 0;
}

.eventItemtTime {
  font-size: 0.7em;
  margin: 0;
}

.eventItemRight {
  width: 20%;
}

.eventItemButton {
  display: inline-block;
  padding: 10px;
  background-color: white;
  text-align: center;
  width: auto;
  cursor: pointer;
}

.eventItemReadMore {
  margin-top: 1vw;
}


.eventItemTickets {
  margin-top: 1vw;
}

.eventItemLogo {
  width: 5vw;
  min-width: 50px;
  border-radius: 50%;
  margin: 0.5vw 0 0 0.5vw;
}

.eventItemLogo img {
  width: 100%;
  border-radius: 50%;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.eventItemDate {
  width: 5vw;
  min-width: 50px;
  margin: 0.5vw 0 0.5vw 0.5vw;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.eventItemDay {
  font-size: 2em;
}

.eventDate {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  vertical-align: middle;
}

.eventInfo {
  padding: 10px;
  margin-left: 1vw;
}

.eventInfo h2 {
  margin: 0;
  padding: 0;
}

.eventInfo p {
  margin: 0;
  padding: 0;
}

.eventItemPrice {
  margin-top: 1.5vh;
}

.eventEditWrapper {
  display: flex;
  margin-bottom: 0.5vw;
}

.eventEditItem {
  display: flex;
  padding: 0.4vw;
  background-color: bisque;
  border-radius: 10px;
  width: 70%;
}

.eventEditButtons {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1vw;
}

.eventEditButton {
  display: block;
  margin-bottom: 0.5vw;
}


#clubs {
  width: 60vw;
  margin: 3vh auto 0 auto;
}

.club {
  background-color: rgb(218, 139, 120);
  border-radius: 10px;
  margin: 0.5vw;
  padding: 5px;
  display: flex;
  box-shadow: 2px 2px 3px 2px #d7d6d6;

}

.clubName {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  vertical-align: middle;
  width: 8vw;
  min-width: 8vw;
}

.clubInfo {
  padding: 10px;
  margin-left: 1vw;
}


